<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295585647172-jm2r4n982qh8085f0vqf44i86jrc1v62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295585647172-jm2r4n982qh8085f0vqf44i86jrc1v62</string>
	<key>API_KEY</key>
	<string>AIzaSyDoJ7FoeZbiGOTYG-VyFOnaNELPCaJYgaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>295585647172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misLab4</string>
	<key>PROJECT_ID</key>
	<string>finki-mis</string>
	<key>STORAGE_BUCKET</key>
	<string>finki-mis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295585647172:ios:4879806df082c7ff43ca11</string>
	<key>DATABASE_URL</key>
	<string>https://finki-mis-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>